TR.ReportRow
{
    FONT-SIZE: 10pt;
    MARGIN: 5px;
    WIDTH: 6.5in;
    POSITION: absolute
}
BODY
{
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 25px;
    MARGIN: 5px;
    WIDTH: 90%;
    COLOR: black;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
.DBForm
{
    MARGIN: 0px 5px 5px;
    WIDTH: 100%
}
.NotMain
{
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 5px;
    MARGIN: 0px;
    COLOR: white;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: white
}
P
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0px;
    COLOR: black;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    TEXT-ALIGN: left;
    FONT-VARIANT: normal
}
P.Help
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 8pt;
    TEXT-INDENT: 25px
}
.Msg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    MARGIN-BOTTOM: 10px;
    COLOR: maroon;
    TEXT-ALIGN: center
}
UL
{
    MARGIN: 5px 5px 5px 20px
}
HR
{
    WIDTH: 100%;
    COLOR: black;
    TEXT-ALIGN: center
}
A
{
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A:hover
{
    TEXT-DECORATION: underline
}
.TabHeaderCell
{
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: 1px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: 1px;
    COLOR: white;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 1px;
    TEXT-ALIGN: center
}
.TabButton
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    Z-INDEX: -2;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    LEFT: 20px;
    VERTICAL-ALIGN: bottom;
    WIDTH: 141px;
    CURSOR: hand;
    COLOR: white;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    POSITION: absolute;
    TOP: 12px;
    HEIGHT: 18px;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.SmallTabButton
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    Z-INDEX: -2;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    LEFT: 20px;
    VERTICAL-ALIGN: bottom;
    WIDTH: 75px;
    CURSOR: hand;
    COLOR: white;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    POSITION: absolute;
    TOP: 11px;
    HEIGHT: 19px;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.SmallTabButtonText
{
    BORDER-RIGHT: transparent 0px solid;
    BORDER-TOP: transparent 0px solid;
    Z-INDEX: 6;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    LEFT: 20px;
    FONT: bold 9pt "Arial Narrow";
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: transparent 0px solid;
    WIDTH: 75px;
    CURSOR: hand;
    COLOR: white;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: transparent 0px solid;
    POSITION: absolute;
    TOP: 11px;
    HEIGHT: 21px;
    TEXT-ALIGN: center
}
.FormBody
{
    LEFT: 20px;
    MARGIN: 0px;
    WIDTH: 588px;
    POSITION: absolute;
    TOP: 57px;
    HEIGHT: 270px
}
DIV
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
.Message
{
    DISPLAY: block;
    FONT-WEIGHT: bold;
    VISIBILITY: hidden;
    VERTICAL-ALIGN: top;
    ALIGN: left
}
.NormalLink
{
    MARGIN-LEFT: 16px;
    CURSOR: hand;
    TEXT-ALIGN: left
}
.Menu
{
    MARGIN-LEFT: 0px;
    CURSOR: hand;
    TEXT-ALIGN: left
}
.ShowHideMenu
{
    BORDER-RIGHT: black 3px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 5px;
    BACKGROUND: white;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 0px;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: black 1px solid;
    WIDTH: 200px;
    CURSOR: hand;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: black 3px solid;
    TEXT-ALIGN: center
}
.SubMenu
{
    DISPLAY: none;
    MARGIN-LEFT: 26px;
    CURSOR: hand;
    TEXT-ALIGN: left
}
.HelpNormalLink
{
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 5px;
    CURSOR: hand;
    TEXT-ALIGN: left
}
.HelpMenu
{
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 0px;
    CURSOR: hand;
    TEXT-ALIGN: left
}
.HelpSubMenu
{
    DISPLAY: none;
    FONT-SIZE: 8pt;
    MARGIN-LEFT: 16px;
    CURSOR: hand;
    TEXT-ALIGN: left
}
IMG
{
    BORDER-TOP-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    VERTICAL-ALIGN: middle;
    BORDER-RIGHT-WIDTH: 0px
}
TABLE
{
    BORDER-RIGHT: black thin solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: black thin solid;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 5px;
    MARGIN: 20px 0px 0px;
    BORDER-LEFT: black thin solid;
    WIDTH: 100%;
    LINE-HEIGHT: normal;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: black thin solid;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
TD
{
    VERTICAL-ALIGN: top;
    TEXT-ALIGN: left
}
.NoBorder
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 5px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px 0px 0px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: medium none
}
.TableSelection
{
    BORDER-RIGHT: black thin solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black thin solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black thin solid;
    WIDTH: 90%;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: black thin solid;
    TEXT-ALIGN: center
}
.SelectionCell
{
    BORDER-RIGHT: black thin solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black thin solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px;
    BORDER-LEFT: black thin solid;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: black thin solid;
    TEXT-ALIGN: center
}
.InputLabel2Required
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 5%;
    COLOR: blue;
    PADDING-TOP: 3px;
    TEXT-ALIGN: right
}
.InputLabel2
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 5%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: right
}
.InputCell2Required
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    WIDTH: 95%;
    COLOR: blue;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
.InputCell2
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    WIDTH: 95%;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
.InputLabel2Even
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 50%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: right
}
.InputLabel4
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 25%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: right
}
.InputLabel4Required
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 25%;
    COLOR: blue;
    PADDING-TOP: 3px;
    TEXT-ALIGN: right
}
.InputCell4
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    WIDTH: 25%;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
.InputCell4Required
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    WIDTH: 25%;
    COLOR: blue;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
.InputLabel
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.InputLabelRequired
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    COLOR: blue;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.InputCell
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 0px;
    MARGIN: 3px;
    VERTICAL-ALIGN: middle;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center
}
.InputYesNoRequired
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 5%;
    COLOR: blue;
    PADDING-TOP: 3px;
    TEXT-ALIGN: right
}
.InputYesNo
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 5%;
    PADDING-TOP: 0px;
    TEXT-ALIGN: right
}
.InputQuestion
{
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 8px;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    WIDTH: 95%;
    PADDING-TOP: 4px;
    TEXT-ALIGN: left
}
.HistoryCell
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 1px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: 0px;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: center
}
INPUT.NumberInput
{
    TEXT-ALIGN: right
}
p.Required,
div.Required,
span.Required,
td.Required
{
    FONT-WEIGHT: bold;
    COLOR: red
}
input,
select,
textarea
{
    background:white;
}
input.Required,
select.Required,
textarea.Required
{
    background:#FFFACD;
}
input.RequiredInvalid,
textarea.RequiredInvalid
{
    border-top:1px solid #800000;
    border-right:1px solid #CC0000;
    border-bottom:1px solid #CC0000;
    border-left:1px solid #800000;
    background:#FFBBBB;
}
select.RequiredInvalid
{
    background:#FFBBBB;
}
.FnameLabel
{
    LEFT: 0px;
    POSITION: relative
}
.MiddleILabel
{
    FONT-WEIGHT: normal;
    LEFT: 115px;
    COLOR: black;
    POSITION: relative
}
.LnameLabel
{
    LEFT: 215px;
    POSITION: relative
}
BUTTON
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 10px;
    PADDING-TOP: 0px;
    FONT-FAMILY: "Arial"
}
.LayoutButton
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    Z-INDEX: 2;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 60px;
    LINE-HEIGHT: 10px;
    PADDING-TOP: 0px;
    POSITION: absolute;
    HEIGHT: 20px
}
.PageHeaderText
{
    FONT-SIZE: 12pt
}
.BackButton
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    Z-INDEX: 5;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 24px;
    PADDING-TOP: 0px;
    POSITION: absolute;
    HEIGHT: 24px
}
INPUT
{
    FONT-FAMILY: "Arial"
}
TEXTAREA
{
    FONT-FAMILY: "Arial"
}
.LBL
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt
}
.VAL
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt
}
.VALUnderline
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    WIDTH: 25px;
    BORDER-BOTTOM: black 1px solid;
    POSITION: relative;
    TOP: 2px;
    TEXT-ALIGN: center
}
.InputBox
{
    BORDER-RIGHT: black 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 6pt;
    BORDER-LEFT: black 1px solid;
    WIDTH: 10px;
    LINE-HEIGHT: 8pt;
    BORDER-BOTTOM: black 1px solid;
    HEIGHT: 10px
}
UNKNOWN
{
    FONT-FAMILY: "Arial"
}

div#TabContinueButton
	{
	display:none;
	width:100%;
	padding:5px;
	text-align:right;
	}

div#TabContinueButton button
	{
	font-size:8pt;
	width:75px;
	}

.HiddenNav
	{
	width:1px;
	height:1px;
	overflow:hidden;
	float:right;
	}

.Left, .Left td, .IndentLeft, .IndentLeft td { text-align:left; }
.Center, .Center td { text-align:center; }
.Right, .Right td, .IndentRight, .IndentRight td { text-align:right; }

.VTop, .VTop td { vertical-align:top; }
.VMiddle, .VMiddle td { vertical-align:middle; }
.VBottom, .VBottom td { vertical-align:bottom; }

.FloatR { float:right; }
.FloatL { float:left; }

.Font7 { font-size:7pt; }
.Font8 { font-size:8pt; }
.Font9 { font-size:9pt; }
.Font10 { font-size:10pt; }
.Font11 { font-size:11pt; }
.Font12 { font-size:12pt; }
.Font13 { font-size:13pt; }
.Font14 { font-size:14pt; }

.Bold { font-weight:bold; }
.Italic { font-style:italic; }

.Border, .Border td { border:1px solid black; }
.BorderT, .BorderT td { border-top:1px solid black; }
.BorderR, .BorderR td { border-right:1px solid black; }
.BorderB, .BorderB td { border-bottom:1px solid black; }
.BorderL, .BorderL td { border-left:1px solid black; }

.BorderS, .BorderS td { border:1px solid silver; }
.BorderTS, .BorderTS td { border-top:1px solid silver; }
.BorderRS, .BorderRS td { border-right:1px solid silver; }
.BorderBS, .BorderBS td { border-bottom:1px solid silver; }
.BorderLS, .BorderLS td { border-left:1px solid silver; }
